html {
    font-family: "Lucida Sans", sans-serif;
  }
  h1{
      font-size: 75px;
      margin-left:20px;
      color:rgb(246, 204, 34);
  }
  #resultado-numero {
      margin-left:60px;
  }
  h2{
      font-size:60px;
      margin-left:20px;
  }
.textScreen {
  float: left;
  width: 30%;
}
/* slider  */
.slider {
  width:60%;
  margin:auto;
  overflow:hidden;
border-radius: 20px;
  float: right;
}
.aside {
  padding: 15px;
}
.slider ul {
  padding:0;
  display:flex;
  width:400%;
  animation:cambio 12s infinite alternate;
  animation-timing-function: ease-in;
  
}
.slider li {
  list-style:none;
  width:100%;
}
.slider img {
  width:100%;
}
.footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

@keyframes cambio {
  0% {margin-left: 0;}
  20% {margin-left: 0;}

  25% {margin-left: -100%;}
  45% {margin-left:-100%;}

  50% {margin-left: -200%;}
  70% {margin-left: -200%;}

  75% {margin-left: -300%;}
  100% {margin-left: -300%;}
}

  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

  