

*{
margin:0 ;
padding:0;
box-sizing: border-box;
  }
body {
margin: 0;
background-position: left;
}
header {
    width: 100%;
    background: rgb(11, 12, 61);
}
#boton-menu {
    display: none;
}
header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
}
header label:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
}
.menu ul {
    margin: 0px;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
.menu li {
border-left: 1px solid #fff;
}
.menu li:hover{
    background: rgba(0, 0, 0, 0.3);
}
.menu li a {
display: block;
padding: 15px 20px;
color:#fff;
text-decoration: none;
font-size: 25px;
font-family:'Coming Soon', cursive; 
}
#go{
 background: rgb(83, 192, 56);
 color:#fff;
 font-size: 100%;
 padding:20px;
 width: 100px;
 height: 40px;
 border-radius: 7px;
}
.letter-type {
    padding: 100px;
    font-size: 50px;
    width: 30%;
    text-align: center;
    font-family: 'Concert One', cursive;
}
.grid-container {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: auto auto auto;
    background-color: rgb(255, 255, 255);
    padding: 10px;
  }
.grid-item {
 background-color: rgba(255, 255, 255, 0.8);
 border: 1px solid rgba(0, 0, 0, 0.8);
 padding: 20px;
 font-size: 30px;
 text-align: center;
}
@media (max-width:750px) {
header label {
display:block;
}
.menu {
position: absolute;
background: rgb(63, 179, 218);
width: 70%;
margin-left: -70%;
transition: all 0.5s;
}
.menu ul {
 flex-direction: column;
}
.menu li {
border-top: 1px solid #fff;
}
#boton-menu:checked ~ .menu{
margin: 0;
font-size: 20px;
}
}
/* Estilo de CSS para la pagina de inicio */
#pantalla-inicio {
background-image: url(img/park.jpg);
background-size:100vw 100vh;
margin:0;
}