
body {
background-image: url(imagen/arctic-background-white-blue-gradient-1600x1084.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
   }
*{
    margin:0 ;
    padding:0;
    box-sizing: border-box;
      }
     
header {
    widows: 100%;
    background: rgba(41, 113, 161, 0.973);

}
#btn-menu {
    display:none;
}
.letter-type {
    font-size: 30px;
    margin-left: 40%;
    font-family: 'Staatliches', cursive;
    padding: 20px;
}

header label {
    display:none;
    width: 30px;
    height:30px;
    padding:10px;
    border-right: 1px solid #ffff;
}
header label:hover/*evento del cursor*/ {
cursor: pointer;
background:rgba(0,0,0,0.3);
}

.menu ul {
    margin: 0%;
    list-style: none;
    padding: 0;
    display:flex;
    justify-content: flex-end;

}
.menu li {
    display:block;
    padding: 15px 20px;
    color:#fff;
    text-decoration: none;
    border-right-style:ridge;
  /*  flex-grow:1; Hace que todo los menú esten en toda la linea */
}
.menu li:hover {
    background:rgba(0,0,0,0.3)
}


/* Contenedor */
.grid-container {
    display:grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-gap: 72px;
    padding: 33px;
    background-size: 100%;
  } 

  .grid-container > div {
    background-image: url(img/back-pokedex.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    text-align: center;
    padding: 20px ;
    font-size: 20px;
    grid-gap: 50px; 
    border-radius: 30px; 
  }
  .select {
    border: 1px solid rgb(226, 81, 23);
    border-radius: 5px;
    font-size: 17px;
    margin-left: 10%;
  }

  #pantalla-buscar-pokemon {
    background: rgba(201, 209, 212, 0.774);
   }
 
 #pantalla-card {
  background: rgba(201, 209, 212, 0.774);
 }

@media (max-width:768px) {

header label {
    display:block;
}
.menu {
    position: absolute;
    background: rgb(63, 179, 218);
    width: 70%;
    margin-left: -70%;
    transition: all 0.7s;
    }
.menu ul {
    flex-direction:column;
}
.menu li {
    border-top:1px solid #fff;
}
.contenedor {
    widows: 58%;
    margin:auto;
}
#btn-menu:checked ~ .menu {
margin:0;
}
.grid-container {
    display:grid;
    grid-template-columns: 200px 200px;
    padding: 60px;
    }
.select{
    margin-left:15px; 
}
   }
